<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Reset Email</title>
    <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
  </head>
  <body class="prevent-scrolling">
    <div class="vertical-center alternative-background">
    <div>
      <div class="card">
        <div>
          <div class="text">
            We’ve emailed you instructions for setting your password, if an account
            exists with the email you entered. You should receive them shortly.
            If you don’t receive an email, please make sure you’ve entered the address
            you registered with, and check your spam folder.
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
